body {
    color: #1F1F1F !important;
    font: 15px Tahoma, sans-serif !important;
    background-color: #FFFFFF;
    /*border-top: 5px solid #7e7e7e;*/
    margin: 0;
    padding: 20px;
}

input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #7e7e7e;
	padding: 0 10px;
	vertical-align: top;
}

button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}

a {
    color: #1F1F1F !important;
}



p {
	margin: 20px 0;
}

#wrapper {
	max-width: 960px;
	margin: auto;
}

header {
    font: 40px/40px 'Oswald', sans-serif;
    padding: 40px 0;
    background-color: #7e7e7e;
}

nav li {
	list-style-position: inside;
	font: 14px 'Oswald', sans-serif;
	margin-left: 10px;
}

.top-menu li {
	display: inline-block;
	padding: 10px 30px;
	margin: 0;
}

	.top-menu li.active {
		background: #29c5e6;
		color: #fff;
	}

.top-menu a {
	color: #7e7e7e;
}

#heading {
    background: transparent url(../images/h1-bg.png);
    margin: 30px 0;
    padding-left: 20px;
    padding-top: 10px;
}

h1 {
	display: inline-block;
	color: #7e7e7e;
	font: 40px/40px 'Oswald', sans-serif;
	background: url(../images/bg.png);
	margin: 0;
	padding: 0 10px;
}

aside {
	float: left;
	width: 250px;
}

section {
	margin-left: 280px;
	padding-bottom: 50px;
}

.aside-menu li {
	font-weight: 300;
	list-style-type: square;
	border-top: 1px solid #e7e7e7;
}

	.aside-menu li:first-child {
		border: none;
	}

	.aside-menu li.active {
		color: #29c5e6;
	}

.aside-menu a {
	color: #8f8f8f;
}

aside > h2 {
	background: #e89292;
	font: 14px 'Oswald', sans-serif;
	color: #fff;
	padding: 10px;
	margin: 30px 0 0 0;
}

aside > p {
	background: #f3f3f3;
	border: 1px solid #e7e7e7;
	padding: 20px;
	margin: 0;
}

figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

	figure img {
		display: block;
		border: 1px solid #fff;
		outline: 1px solid #c9c9c9;
	}




blockquote {
	margin: 0;
	background: #29c5e6;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

	blockquote p {
		color: #fff;
		font-style: italic;
		font-size: 33px;
		margin: 0;
	}

	blockquote cite {
		display: block;
		font-size: 20px;
		font-style: normal;
		color: #29c5e6;
		margin: 0;
		text-align: right;
	}


.footer5 {
	background-color: #7e7e7e;
	color: white;
	font-size: 14px;
    padding: 20px;
    margin-top: 300px;
}

	.footer5 p {
		color: white;
		width: 615px;
		margin: 45px auto;
		font-size: 12px
	}

.footer5_social_btn {
	color: white;
	border: solid 1px white;
	padding: 10px 25px;
	margin: 5px 8px;
	display: inline-block;
}

#sitemap {
	width: 150px;
	float: left;
	margin-left: 20px;
	padding-right: 15px;
}

	#sitemap div {
		display: inline-block;
	}

		#sitemap div + div {
			margin-left: 40px;
		}

	#sitemap a {
		display: block;
		text-decoration: none;
		font-size: 12px;
		margin-bottom: 5px;
	}

		#sitemap a:hover {
			text-decoration: underline;
		}

.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

.image {
	background: url(/img/CY2NYGSvMto.jpg);
	background-color: #808080;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 470px;
	overflow: hidden;
	left: 0;
	top: 0;
	width: 100%;
}
