@{
    ViewBag.Title = "About";
}

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>MуBudget</title>
	<link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

</head>




<style>
    .fig {
        text-align: center;
    }


    .center {
        width: 700px; 
        padding: 10px 250px;
        margin: 0; 
    }
</style>






<div class="container">
    <div id="heading">

        <h1>О сайте</h1>

    </div>
</div>




<div class="container">
    <p>
        
    </p>
    <p>Статьи пишутся исключительно с целью повышения Вашей финансовой грамотности.</p>
</div>

