@{
    ViewBag.Title = "Contact";
}


<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>MуBudget</title>
	<link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
	@Styles.Render("~/Content/css")
	<title>Выравнивание фотографии по центру</title>
</head>



<style>
    .fig {
        text-align: center;
    }


    .center {
        width: 700px; 
        padding: 10px 250px;
        margin: 0; 
    }
</style>



<body>
    <div class="container">
        <div id="heading">

            <h1> ОБРАТНАЯ СВЯЗЬ</h1>

        </div>
    </div>
</body>


<div class="container">
    <p>
        Доброго времени суток! Со всеми вопросами, предложениями и отзывами можете обращаться по почте
        <address>
            <a href="mailto:grooov173@yandex.ru">grooov173@yandex.ru</a><br />
        </address>
    </p>

</div>




@*<p class="fig">
    <img src="~/img/1_O3sEH7H6LpLB7Mi6Q0yMOg.jpeg"
         width="680" height="320" alt="Фотография">
</p>*@




