
@{
    ViewBag.Title = "Dohodi";
}

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>MуBudget</title>
	<link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<title>Выравнивание фотографии по центру</title>
</head>




<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px 250px;
        /* Поля вокруг текста */
        margin: 0; /* Выравниваем по центру */
    }
</style>






<div class="container">
    <div id="heading">
        <h1> ДОХОДЫ И РАСХОДЫ</h1>
    </div>
</div>




<section class="container">
    <blockquote>
        <p>
            “Выработка бюджета есть искуство равномерного распределения разочарований.”
        </p>
        <cite>Морис Станс</cite>
    </blockquote>
</section>


<div class="container">
    <p>Принципы планирования в вопросах домашней экономии должны прививаться детям со школы – с первых презентаций на тему «Семейный бюджет» с таблицей доходов и расходов семьи. Так у учеников формируется общее понимание политики индивидуального и семейного бюджетирования, привычка распоряжаться средствами дисциплинировано и организовывать учёт поступлений и трат финансов. Если ещё в школе ученики овладеют техникой «4 конвертов», «6 кувшинов», практикой «Kakebo» или умением управляться с таблицами доходов, расходов и сбережений, им не придётся переучиваться во взрослой семейной жизни.</p>
    <h2>Принципы ведения семейного бюджета: доходы и расходы семьи в таблице</h2>
    <p>У желающих дисциплинированно работать с семейным бюджет, путём ведения таблицы в Excel, как минимум, два пути.</p>
    <li>Первый путь – скачать какой-нибудь готовый вариант в интернете и попытаться адаптировать его под домашние нужды. Среди самых популярных – относительно простая таблица, которую при этом и вести просто и в которой все поступления и траты в течение месяца и года находятся перед глазами. С учётом того, что для сложного экономического учёта часто не хватает времени, сил, мотивации и т. д., простота этого варианта становится его преимуществом.</li>
    <li>Второй путь – самостоятельно составить такую таблицу, в которой можно собрать всё самое лучшее и нужное, применив те методические рекомендации, которые понравились в различных техниках экономии. В этом случае такая таблица должна отражать особенности выбранных систем бюджетирования. Например, взяв за основу предыдущий «простой» вариант, можно добавить табличное выражение метода «Шести кувшинов». Поскольку суть метода заключается в том, чтобы разделить все запланированные траты на шесть частей-«кувшинов» с разным процентным соотношением, то и колонок для занесения потраченных сумм должно быть тоже шесть. Если применять метод «Четырёх конвертов», то и основных расходных колонок должно быть четыре (плюс две дополнительных).</li>
    <h2>Пример адаптации методов «6 кувшинов» и «4 конверта» под табличный учёт</h2>
    <p>Метод «6 кувшинов» заключается в том, чтобы все доходы распределить согласно следующим потенциальным расходам:</p>
    <li>55% – первая и основная часть, из которой «погашаются» все повседневные траты, включая налоги, продукты, транспорт и аренду.</li>
    <li>10 % – нестандартные покупки, выходящие за рамки повседневных: старый коньяк, спонтанное путешествие к морю на выходные, дорогой альбом и др.</li>
    <li>10 % – инвестиции, которые только откладываются, но не тратятся (если с этих инвестиций путём получения процентов возникает денежное поступление, то его тоже нужно учитывать в доходной части).</li>
    <li>10 % – образовательный фонд, который нужно тратить на собственное образование или образование детей.</li>
    <li>10 % – личных запасов бюджета, предназначенных для крупных покупок (телевизор, дача и т.д.).</li>
    <li>5% – последний «кувшин» –  фонд подарков или благотворительности, деньги из которого расходуются на дни рождения, свадьбы и т.д.</li>
    <p>Метод «4 конвертов» предполагает выделение средств из общего дохода:</p>
    <li>сначала на постоянные расходы (телефон, квартплата, коммунальные услуги и т. д.) – в том объёме, который необходим для покрытия этих трат;</li>
    <li>затем в объёме 10-20 % от общих поступлений – на крупные покупки в будущем;</li>
    <li>наконец, оставшаяся сумма делится на четыре реальных или условных конверта, каждый из которых – это максимальная сумма, доступная для трат в течение одной недели.</li>
    <p>При адаптации такого метода в таблице рисуется шесть колонок, первую из которых уже нет нужды расписывать подробно, поскольку эти деньги сразу расходятся по актуальным статьям расходов. Но если денег в  колонках «конвертов» регулярно не хватает до начала следующей недели, есть смысл подробнее расписать те затраты, из которых конвертные суммы складываются.</p>
    <h2>Как быстро разобраться, что важно учитывать в семейном бюджете?</h2>
    <p>Чтобы быстро, не заканчивая высшей школы экономики, разобраться в том, что значимо для повседневного учёта, можно изучить правила семейного бюджета: доходы и расходы семьи в подготовленной учителем экономики (Чиненко Е.С.), который всё это уже знает. Эту же презентацию можно использовать для информационных уроков в старших классах школ.</p>
    <p>Автор классифицирует все виды семейных доходов по факторам производства:</p>
    <ul>
        <li>наёмный труд соотносится с заработной платой;</li>
        <li>предпринимательство и вложенный в него собственный капитал – с прибылью собственника;</li>
        <li>природные и земельные ресурсы – с рентой;</li>
        <li>денежный капитал – с процентом.</li>
        <p>Далее подробно и с пояснениями расписывается структура расходования денег для семьи, которая предполагает разделение на обязательное и произвольное. Все эти показатели сравниваются со структурой финансирования средней американской семьи и аналогичными бюджетными статьями в российских семьях в разные периоды.</p>
        <p>В качестве одного из ориентиров составления бюджета автор приводит закон Энгеля. Согласно ему, с ростом доходной части семьи относительная доля затрат на питание уменьшается, а на удовлетворение нематериальных (культурных) нужд увеличивается.</p>
        <p>Поэтому, если в семье планируется рост материального благополучия, предполагаемые траты на кино, театры, туристические поездки, нестандартные проведения празднований и т.д. должны будут возрасти.</p>
        <p>В презентации можно пройти и познавательный тест из 12-ти вопросов с интригующим названием «Как вам стать миллионером?». В качестве результата приводится три варианта стратегии, где наименьшее число набранных баллов предполагает путь через удачный брак, наследство или лотерею. Домашним заданием (если презентация демонстрируется в классе) становится предложение рассчитать рациональный бюджет школьника самостоятельно.</p>
</div>


