@{
    ViewBag.Title = "Home Page";
}

<div id="heading">
    <h1>ДОСКА ОБЪЯВЛЕНИЙ</h1>
</div>

<p>Электронная доска объявлений — сайт, на котором размещаются объявления.</p>
<p>Первоначально это понятие относилось исключительно к BBS.</p>
<p>Однако по мере распространения Интернета появилось множество сайтов, вполне аналогичных обычным бытовым доскам объявлений или же рекламным газетам.</p>
<p>Они унаследовали название электронных досок объявлений (однако аббревиатура BBS в отношении подобных русскоязычных ресурсов употребляется редко).</p>
<p>Их содержимое представляет собой набор объявлений коммерческого и/или некоммерческого характера и размещается как на платной, так и на бесплатной основе, в зависимости от конкретного сайта.</p>
<p>Многие рекламные компании, имеющие бумажные издания и работающие в сфере теле- и радиорекламы, создают и поддерживают также собственные электронные доски объявлений.</p>
<h2>Принципы работы</h2>
<p>Электронная доска объявлений функционально подобна обыкновенной: это сайт, где каждый желающий может вывесить своё объявление, а все посетители сайта — прочитать его.</p>
<p>Электронная доска объявлений, как правило, поделена на несколько тематических разделов, согласно содержанию объявлений.</p>
<p>Большинство электронных досок — бесплатные.</p>
<p>Для размещения своего объявления пользователю нужно лишь ввести в специальной форме его тему, своё имя/псевдоним либо название организации, а также координаты: адрес электронной почты, почтовый адрес, телефон, URL своего сайта и т. п. (набор данных зависит от конкретного ресурса).</p>
<p>Как правило, отображаются только имена авторов и темы объявлений, а для просмотра полного текста объявления пользователь должен щёлкнуть по ссылке, ведущей к нему.</p>
<p>В некоторых досках объявления могут подавать только зарегистрированные пользователи, в некоторых — все.</p>
<p>Сейчас в интернете существует тысячи и даже десятки тысяч досок объявлений.</p>
<p>Обычно каждая из них посвящается какому-либо отдельному виду объявлений.</p>
<p>Существуют национальные доски объявлений, предназначеных для жителей конкретной местности.</p>
<p>Электронные доски объявлений бывают двух видов:  
    <ul>
        <li>Модерируемые (те, у которых есть так называемый модератор — человек, контролирующий работу этой доски);</li>
        <li>Немодерируемые — работающие автоматически;</li>
    </ul>
</p>
<p>Большинство досок объявлений в интернете предполагают размещение объявлений о продаже и покупке товаров и услуг.</p>
<p>Но есть и такие сервисы, которые предлагают размещать объявления о передачи различных вещей в дар, а также о поиске новых хозяев для домашних животных, которые передаются в добрые руки безвозмездно.</p>
<p>Бесплатные объявления — это наилучший способ заявить о себе, своих товарах и услугах в сети Интернет.</p>
<p>На страницах досок объявлений представлены тысячи бесплатных объявлений о недвижимости, авто, услугах, поиске работы, знакомствах, покупке и продаже оборудования, компьютеров, средств связи и прочему.</p>
<p>Доски объявлений позволяет разместить объявление с фотографией и без дополнительной регистрации.</p>
<p>Вы можете разместить не только бесплатное объявление, но и объявление на коммерческой основе — для максимальной эффективности.</p>
<h2>Способы повышения эффективности объявлений</h2>
<p>Повысить эффективность объявления можно, добавив подробное описание товара или услуги, фотографии, а также точную стоимость товара, его местонахождение и условия доставки.</p>
<p>Рекомендуется указывать в объявлении максимальное число контактов, среди которых может быть номер телефона, адрес электронной почты и ICQ.</p>
<p>Используя в заголовке и тексте объявления ключевые слова, можно добиться того, что объявление начнет выводиться в поисковых машинах на первой странице результатов поиска по указанным словам.</p>
<p>Это позволит привлечь на страницу объявления посетителей из поисковых машин.</p>
<p></p>
<p>Во многих случаях размещение объявления только на одной доске не приносит желаемого эффекта.</p>
<p>Поэтому имеет смысл, как и при использовании бытовых досок, разместить объявления на нескольких ресурсах сразу.</p>
<p>В тех случаях, когда ожидаемый эффект достигается размещением на менее, чем десяти досках, это можно делать вручную.</p>
<p>Если же смысл объявления состоит в охвате как можно более широкой аудитории, то желательно разместить его сразу на десятках электронных досок, и здесь уже необходимы средства автоматизации данной работы.</p>
<p></p>
<p>Кроме того наибольшим вниманием потребителей пользуются те объявления, которые располагаются на самой первой странице электронной доски.</p>
<p>Сортировка же сообщений (объявлений) производится самым простым способом — по дате поступления, то есть более старые сообщения непрерывно смещаются на вторую, третью страницы, и далее.</p>
<p>Поэтому необходимо бывает при регулярной публикации объявлений следить за постоянным возобновлением своего сообщения на первой странице.</p>
<p></p>
<p>Обе проблемы решаются при использовании каталогов электронных досок и специальных программ для автоматической рассылки объявлений сразу на большое количество досок — от десятков до сотен, а также сайтов, на которых находятся онлайновые версии таких программ.</p>
<p></p>
<p>Но в последнее время в связи с большим количеством появления web-бордов (досок объявлений) стоит обратить особое внимание на некоторые критерии при подаче объявления на них.</p>
<p>Во-первых, доска объявлений должна иметь региональную привязанность; если таковая отсутствует, то лучше с этим сайтом не работать, он не модерируется и содержит много «мусорных» сообщений.</p>
<p>Во-вторых, каждое объявление должно располагаться на отдельной странице, оптимизированной под поисковики. Тогда ваше объявления увидят не только пользователи доски, но и люди с поисковых систем, интересующиеся конкретным товаром или услугой.</p>
