
@{
    ViewBag.Title = "Table";
}



<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<title>MуBudget</title>
	<link rel="stylesheet" href="~/Content/styles.css" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css" />
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	<title>Выравнивание фотографии по центру</title>
</head>





<style>
    .fig {
        text-align: center; /* Выравнивание по центру */
    }


    .center {
        width: 700px; /* Ширина элемента в пикселах */
        padding: 10px 250px;
        /* Поля вокруг текста */
        margin: 0; /* Выравниваем по центру */
    }
</style>




<div class="container">
    <div id="heading">
        <h1> ТАБЛИЦА РАСХОДОВ</h1>
    </div>
</div>







<section class="container">
    <blockquote>
        <p>
            “Нет ничего легче, чем тратить бюджетные деньги. Кажется, что они не принадлежат никому.”
        </p>
        <cite>Калвин Кулидж</cite>
    </blockquote>
</section>


<div class="container">
    <h2>Этап первый. Накопления и сбережения</h2>
    <p> Все слышали по телевизору такие понятия, как «бюджет проедания» и «бюджет развития», с соответствующей оценкой, что первое – это плохо, а второе – хорошо. И мало кто задумывается, что эти два понятия отличаются фактически лишь тем, что в смете развития часть средств предназначена для поддержки проектов, которые через некоторое время будут приносить прибыль и развивать экономику, создавая мультипликативный эффект. </p>
    <p>Практически все аналитики призывают откладывать часть денег сразу же после их получения. Здесь все понятно, однако есть несколько нюансов, на которые нужно обратить внимание: </p>
    <li>Следует определиться, на что будут собираться деньги. Четкая постановка цели и приблизительный расчет времени ее достижения придадут изъятию части средств из повседневного оборота необходимую осмысленность. Все члены семьи должны понимать, что за собранные деньги они через год поедут отдыхать в Турцию, или что накопленное будет вложено в образование старшей дочери.</li>
    <li>Далее требуется рассчитать часть средств, которая будет откладываться. Процент может варьироваться в зависимости от возможностей семьи и поставленной цели. Обычно, минимальный уровень накоплений – 5% от прибыли, но чаще всего откладывают 10%. В домашних хозяйствах с более высоким уровнем дохода этот показатель может достигать 20%. </li>
    <li>Следующий вопрос – где хранить накопления. Опытные люди советуют ни в коем случае не держать их дома, поскольку они неизбежно будут потрачены полностью или частично. Сбережения нужно инвестировать. Лучший вариант – депозит в банке с возможностью пополнять счет, но без возможности снять средства. Тогда уже через несколько месяцев в категории «доходы» появится, пусть маленькая, но такая приятная цифра прибыли от процента с депозита.</li>
    <li>После сбора необходимой суммы и приобретения запланированного, на общем совете рассматривается вопрос о следующей перспективной цели для сбора денег.</li>

    <h2>
        Этап второй. Определение основных категорий затрат
    </h2>
    <p>Кроме инвестиционной составляющей, по важности все траты можно подразделить на три большие категории:</p>
    <li><b>Необходимые.</b> Те затраты, без которых обойтись невозможно. Они либо осуществляются ежемесячно, и их сумма не меняется или меняется незначительно. К таким затратам можно отнести выплату процентов и частичное погашение основного тела банковского кредита, аренду жилья, расходы на оплату жилищно-коммунальных услуг, пользование общественным транспортом, интернетом, телефоном (стационарным и мобильным). Размеры других могут меняться от периода к периоду. Закупка продуктов питания, оплата детского садика, необходимые одежда и обувь, хозяйственные товары, бензин и моторное масло для автомобиля относятся именно к этой категории. Доля таких издержек должна составлять 50-60%.</li>
    <li><b>Желательные (необязательные).</b> Покупка дорогих украшений, косметики, парфюмерии, стильной одежды, посещение ресторанов, салонов красоты, приобретение книг, путешествия и экскурсии. Без всего этого прожить вполне можно, хотя будет и скучновато. Сюда можно отнести и статусные затраты, когда положение человека в обществе требует от него владеть определенными вещами: телефоном, часами, стильным костюмом, а также резервный фонд для непредвиденных случаев. При увеличении доходов или снижении лишних затрат, часть статей из этой категории можно перевести в необходимые.<li>
    <li><b>Лишние.</b> Покупки, совершаемые импульсивно, под влиянием эмоционального порыва или в силу привычки. Сувениры, книги, которые не прочитываются, ненужные подарки, разнообразные сладости в больших количествах. Зачастую эти лишние приобретения не только серьезно вредят здоровью, но и опустошают семейную казну.</li>

</div>

<p class="fig">
    <img src="~/img/stati-rashodov-4.jpg"
         width="680" height="320" alt="Фотография">
</p>



<div class="container">
    <h2> Этап 3. Анализ показателей за месяц и корректирование следующей сметы</h2>
    <p>Точный учет и контроль расходных статей – дело поначалу достаточно хлопотное и требующее серьезной работы над собой. Поэтому логично вести таблицу расходов семейного бюджета в Excel, скачать которую можно на множестве сайтов, посвященных тематике домашних финансов. Она может выглядеть, например, вот так:</p>
</div>



<p class="fig">
    <img src="~/img/stati-rashodov-6.jpg"
         width="680" height="320" alt="Фотография">
</p>




<div class="container">
    <p>Данные, занесенные в таблицу, дают возможность наглядно увидеть, по каким направлениям происходит перерасход. Если смета «вышла в минус», то спастись можно двумя путями: </p>
    <li>экономия; </li>
    <li>поиск дополнительного заработка, хотя бы на период, пока домашняя казна не стабилизируется.</li>
    <p>После анализа результатов за предыдущий период, проводится работа по оптимизации издержек.</p>
    <p>Бюджет следующего месяца делается уже с учетом ошибок предыдущего. Не стоит бояться пересмотра бюджета, даже достаточно радикального. Если удается больше заработать, то можно больше и потратить. Главное – держать баланс и не забывать об инвестировании.</p>
</div>




